.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.content p {
  font-size: 14px;
}

.profileContent {
  margin: 0 auto;
  width: 300px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.spinnerBlock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation-name: spinnerAnimation;
  animation-iteration-count: infinite;
  animation-duration: 1100ms;
  animation-timing-function: ease-in-out;
}

@keyframes spinnerAnimation{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1);
  }
}